* {
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
}
.ityped-cursor {
    font-size: 1em;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
img {
    vertical-align: bottom;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0 100px;
}
body {
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(29, 29, 29);
    color: #fff;
}

/* =====================
HEADER
===================== */
header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    z-index: 5;
    min-height: 65px;
    transition: 1s;


    #header-container {
      width: 1320px;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
    }
    
    #header-text {
      font-size: 30px;
      letter-spacing: 0.5rem;
      color: #fff;
      margin-left: 20px;
    }
    
    #header-menu {
      display: flex;
    }
    
    #header-menu li {
      padding: 35px 0 0 20px;
    }
    
    #header-menu a {
      font-size: 24px;
      color: #fff;
    }
    
    .sns-icon {
      height: 20px;
    }
}
header.active {
    background-color: rgb(15, 15, 15);
    transition: 1s;
}

/* =====================
  HOME
===================== */
main {
    position: relative;
    margin-bottom: 70px;
    video {
        width: 100%;
    }
    #main-container {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(22, 22, 22, 0.8);
        #box {
            position: absolute;
            width: 1300px;
            height: 640px;
            border: #fff 2px solid;
            top: 85px;
            left: 0;
            right: 0;
            margin: auto;
            opacity: 0;
            animation: loadBox 1.5s forwards;
        }
        @keyframes loadBox {
            0% {
                opacity: 0;
            }
            30%{
                opacity: 0;
            }
            35% {
                opacity: 0.4;
            }
            40%{
                opacity: 0;
            }
            44%{
                opacity: 1;
            }
            50%{
                opacity: 0;
            }
            58%{
                opacity: 1;
            }
            67%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        div {
            display: flex;
            justify-content: center;
            h1 {
                color: #fff;
                font-size: 85px;
                letter-spacing: 1rem;
                margin-top: 300px;
            }
            img {
                width: 200px;
                height: 200px;
                margin-top: 250px;
                opacity: 0;
                transform: scale(0);
                animation: loadAnimationImg 0.7s 3s forwards;
            }
            @keyframes loadAnimationImg {
                0% {
                    opacity: 0;
                    transform: scale(0);
                }
                100% {
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    
        p {
            color: #fff;
            font-size: 40px;
            letter-spacing: 1rem;
            margin: 10px;
            text-align: center;
            opacity: 0;
            transform: translateY(30%);
            animation: loadAnimation 1s 3.5s forwards;
        }
        @keyframes loadAnimation {
            0%{
                opacity: 0;
                transform: translateY(30%);
            }
            100% {
                opacity: 1;
                transform: translateY(0%);
            }
        }
    }
  }

/* =====================
  PROFILE
===================== */

#profile {
    padding: 70px 0 ;

    #profile-box.show {
        opacity: 1;
        transition: 1s;
    }
    #profile-box {
        margin: 0  auto;
        width: 80%;
        padding: 100px 20px 10px;
        border: #fff 2px solid;
        margin-bottom: 70px;
        position: relative;
        opacity: 0;
        
        #profile-container {
            display: flex;
            justify-content: center;

            #prof-icons.show {
                opacity: 1;
                transform: translateY(0%);
                transition: 1s;
            }
           
            #prof-icons {
                opacity: 0;
                transform: translateY(10%);
                .prof-img {
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    border: 3px solid white;
                }
                h2 {
                    text-align: center;
                    margin-top: 35px;
                    font-size: 20px;
                    display: flex;
                    align-items: center;
                }
                h2::before {
                    border-top: 1px solid;
                    flex-grow: 1;
                    content: "";
                    margin-right: 1rem;
                }
                h2::after {
                    border-top: 1px solid;
                    flex-grow: 1;
                    content: "";
                    margin-left: 1rem;
                }
                #prof-sns {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 20px;
                    img {
                        width: 70px;
                    }
                }

            }
            .prof-text {
                width: 500px;
                margin-left: 100px;
                display: inline;
                h2 {
                    padding: 10px;
                    font-size: 30px;
                    text-align: end;     
                    border-bottom: 2px #fff solid;
                }
                div {
                    padding: 10px;
                    
                    .animationTarget::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        background-color: #fff;
                        height: 100%;
                        width: 100%;
                        transform: translateX(-100%);
                    }
                    .animationTarget {
                        overflow: hidden;
                        display: block;
                        position: relative;
                        margin: 5px;
                        p{
                            line-height: 150%;
                            opacity: 0;
                        }
                    }
                    @keyframes showMask {
                        0%{
                            transform: translateX(-100%);
                        }
                        45%, 55% {
                            transform: translateX(0%);
                        }
                        100% {
                            transform: translateX(100%);
                        }
                    }
                    .animationTarget.show {
                        animation: showElements .01s .9s forwards;
                        
                        p {
                            animation: showElements 0.1s .7s forwards;
                        }
                        @keyframes showElements {
                            0%{
                                opacity: 0;
                            }
                            100% {
                                opacity: 1;
                            }
                        }
                    }
                    .animationTarget.show::before {
                        animation: showMask 1.3s forwards;
                    }

                    #profText {
                        line-height: 1.5;
                        margin-left: 10px;
                    }

                    .none {
                        display: none;
                    }
                }
                
            }
        }
    }
}
.more-button {
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    font-size: 20px;
    margin: 0 0 10px auto;
    text-align: center;
    background-color:rgba(255,255,255,0.1);
    user-select: none;
    cursor: pointer;
    transition: .6s;
}
.more-button:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
    background-color: gray;
    transition: .6s;
}

    /* =====================
    SKILLS
===================== */

#skills {
    background-color: #fff;
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 100px;
    position: relative;
    height: 260vh;
    #skills-title {
        height: 200px;
        line-height: 200px;
        text-align: center;
        margin-bottom: 100px;
        border-top: 2px black solid;
        border-bottom: 2px black solid;
        h1 {
            font-size: 100px;
        }
    }
    .skills-container {
        width: 100%;
        height: 90vh;
        margin: 100px auto 150px auto;
        position: absolute;
        left: 0;
        right: 0;
        img {
            width: 650px;
            height: 470px;
            position: absolute;
            left: 80px;
            z-index: 1;
            transform: translateY(10%);
            opacity: 0;
        }
        img.show {
            opacity: 1;
            transform: translateY(0%);
            transition: 1.3s;
        }

        .skills-box {
            position: absolute;
            left: 700px;
            .skills-box-title {
                text-align: center;
                width: 500px;
                margin-left: 50px;
                margin-bottom: 30px;
                margin: 30px ;
                position: absolute;
                left: 50px;
                opacity: 0;
                transform: translateX(-10%);

                h3{
                    display: flex;
                    align-items: center;
                    font-size: 50px;
                }
                h3::before {
                    border-top: 1px solid;
                    content: "";
                    flex-grow: 5;
                    margin-right: 1rem;

                }
                h3::after {
                    border-top: 1px solid;
                    content: "";
                    flex-grow: 1;
                    margin-left: 1rem;
                }
            }
            .skills-box-title.show {
                opacity: 1;
                transform: translateX(0%);
                transition: 1.5s;
            }
            .skills-box-body {
                width: 800px;
                padding: 32px 45px 150px 200px;
                background: linear-gradient(to right, rgb(234, 226, 255), rgb(255, 236, 239));
                border: 10px white double;
                position: absolute;
                left: -130px;
                top: 100px;
                opacity: 0;
                transform: translateY(-10%);

                p {
                    overflow-wrap: break-word;
                    font-family: sans-serif;
                    font-size: 20px;
                    line-height: 150%;
                }
            }
            .skills-box-body.show {
                opacity: 1;
                transform: translateY(0%);
                transition: 1s;
            }
            
        }
    }
    .skills-container-second {
        width: 100%;
        height: 90vh;
        min-width: 1400px;
        margin: auto;
        left: 0;
        right: 0;
        top: 160vh;
        position: absolute;
        img {
            width: 650px;
            height: 470px;
            position: absolute;
            right: 80px;
            z-index: 1;
            opacity: 0;
            transform: translateY(-10%);
        }
        img.show {
            opacity: 1;
            transform: translateY(0%);
            transition: 1.3s;
        }
        .skills-box {
            position: absolute;
            left: 700px;
            .skills-box-title {
                text-align: center;
                width: 500px;
                margin-left: 50px;
                margin-bottom: 30px;
                margin: 30px ;
                position: absolute;
                right: 50px;
                opacity: 0;
                transform: translateX(10%);

                h3{
                    display: flex;
                    align-items: center;
                    font-size: 50px;
                }
                h3::before {
                    border-top: 1px solid;
                    content: "";
                    flex-grow: 2;
                    margin-right: 1rem;

                }
                h3::after {
                    border-top: 1px solid;
                    content: "";
                    flex-grow: 5;
                    margin-left: 1rem;
                }
            }
            .skills-box-title.show {
                opacity: 1;
                transform: translateX(0%);
                transition: 1.5s;
            }
            .skills-box-body {
                width: 800px;
                padding: 32px 200px 150px 45px;
                background: linear-gradient(to right, rgb(234, 226, 255), rgb(255, 236, 239));
                border: 10px white double;
                position: absolute;
                right: -170px;
                top: 100px;
                opacity: 0;
                transform: translateY(10%);

                p {
                    overflow-wrap: break-word;
                    font-family: sans-serif;
                    font-size: 20px;
                    line-height: 150%;
                }
            }
            .skills-box-body.show {
                opacity: 1;
                transform: translateY(0%);
                transition: 1s;
            }
            
        }
    }
}

/* =====================
    WORKS
===================== */

#works {
    background-color: #fff;
    color: black;
    position: relative;
    height: 100vh;
    width: 100%;

    #works-title {
        position:  absolute;
        width: 500px;
        left: 0;
        h1 {
            font-size: 80px;
            display: flex;
        }
        h1::before {
            border-bottom: 3px solid ;
            content: "";
            flex-grow: 5;
            margin-right: 1rem;
        }
        h1::after {
            border-top: 3px solid ;
            content: "";
            flex-grow: 2;
            margin-left: 1rem;
        }
    }

    #works-container {
        width: 1200px;
        position: absolute;
        top: 150px;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        border: 2px black solid;
        background-color: rgba($color: #fff, $alpha: 0.7);
        border-radius: 14px;

        .works-box {
            width: 350px;
            margin: 20px;
            border: 2px black solid;
            border-radius: 10px;
            padding: 5px;
            opacity: 0;

            .works-img {
                img {
                    width: 335px;
                    height: 200px;
                    border-radius: 7px;
                }
            }
            .works-body {
                height: 200px;
                padding: 10px;
                position: relative;
                overflow: hidden;
                h3 {
                    margin: 7px 0 12px 7px;
                    font-size: 24px;
                    opacity: 0;
                }
                p{
                    opacity: 0;
                }
                a{
                    img{
                        width: 50px;
                        margin-top: 20px;
                        float: right;
                        opacity: 0;
                        transform: translateY(20%);
                    }
                    img.show{
                        opacity: 1;
                        transform: translateY(0%);
                        transition: 1s;
                        transition-delay: 1.3s;
                    }
                }
            }
            .works-body::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: white;
                height: 100%;
                width: 100%;
                transform: translateX(-100%);
            }
        }
        .works-box.show {
            opacity: 1;
            transition: 1s;
            .works-body {
                h3, p {
                    animation: showElements .1s .7s forwards;
                }
            }
            .works-body::before {
                animation: showMask 1.3s forwards 
            }
        }
    }
}

/* =====================
  FOOTER
===================== */
footer {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  footer p {
    color: #fff;
  }
  